# --- Django ---
SECRET_KEY=change_me_pls
DEBUG=False
ALLOWED_HOSTS=127.0.0.1,localhost

# --- PostgreSQL ---
DB_NAME=novashop
DB_USER=postgres
DB_PASSWORD=your_password_here
DB_HOST=localhost
DB_PORT=5432

# --- Email (Yandex SMTP) ---
EMAIL_HOST=smtp.yandex.ru
EMAIL_PORT=465
EMAIL_USE_SSL=True
EMAIL_USE_TLS=False
EMAIL_HOST_USER=your_email_here
EMAIL_HOST_PASSWORD=your_email_password_here

REDIS_URL=

# --- Postgres (for Docker image) ---
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=